  /* GENERAL */

  body {
    background-color: rgb(26, 26, 26);
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
    color: whitesmoke;
    font-size: small;
    margin: 0;
  }

  header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: rgb(255, 53, 53);
  }

  header img {
    width: 100px;
  }

  h1 {
    margin: 0;
    font-weight: 700;
  }

  footer {
    padding: 0px;
    text-align: center;
    font-size: xx-small;
  }

  /* INICIO */

  #estadisticas {
    font-weight: 500;
    margin: 0 25px 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
  }

  #button-chat {
    padding: 10px;
    color: whitesmoke;
    background-color: #595959;
    border-color: white;
    border-radius: 10px;
    font-weight: 600;
  }

  nav {
    background-color: black;
    padding: 25px 20px;
    display: flex;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    flex-wrap: wrap;
    font-weight: 600;
    justify-content: none;
    z-index: 10; /*soluciona nav no quede debajo de card, se sobrepone el que mayor index tenga*/
  }

  label[for="type-select"],
  label[for="temporality-select"],
  label[for="sort-select"],
  select {
    margin: 6px;
    margin-right: 70px;
    color: whitesmoke;
    background-color: black;
    border-color: white;
  }

  #button-clear {
    margin: 6px;
    color: whitesmoke;
    background-color: black;
    border-color: white;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 10px;
  }

  .card {
    background-color: black;
    padding: 0;
    flex: 1 1 400px;
    /*border-radius: 10px;*/
    width: 400px;
    /*height: 400px;*/
    height: fit-content;
    position: relative;
  }

  .card img {
    width: 180px;
    height: 270px;
    /*
    width: 200px;
    height: 300px;
    border-radius: 10px 0 0 10px;*/
    position: absolute;
    margin: 10px;
  }

  .card dd, dt {
    margin: 0 10px 0 200px;
  }

  .card dt {
    color: #777777;
  }

  .card dd {
    color: #e8dede;
  }

  [itemprop="name"] {
    font-size: medium;
    text-align: center;
  }

  [itemprop="type"] {
    text-align: right;
    font-size: large;
  }

  [itemtype="protagonista"] {
    background-color: #292929;
    height: 63px;
    margin:  0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }

  [itemtype="protagonista"] img {
    width: 50px;
    height: 50px;
    margin: 0 0 0 140px;
    border-radius: 100%;
  }

  /* ERROR */

  .img-error {
    width: 70%;
    display: block;
    margin: auto;
  }

  /* PERSONAJE */
  /* CHAT */